@import "../colors.scss";

// 아이디찾기 안 콘테이너
.find-input-container{
    display: flex;
    flex-direction: column;
    width:380px;
    // background-color: green;
    font-family: 'Noto Sans KR', sans-serif;
}
// 이메일 발송 알림 박스
.find-article {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 65.4px;
    font-size: 22px;
    border: 1px solid $GRAY-5;
    border-radius: 10px;
}
// 글자색들
.find-input-container-text{
    margin: 0 auto;
    margin-bottom:15px;
    color: $GRAY-2;
}
// 휴대폰인증 안 인풋박스들
.find-input-box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 380px;
}
// 비밀번호 재설정 시 인포박스
.find-box-reset-info{
    
}
.find-box-reset-info > div{
    font-size:12px;
    line-height: 18px;
    letter-spacing:-0.5px;
   &:first-child{
       width:16px;
       height:16px;
       background-color: black;
       margin-right: 7.5px;
   }
}
.find-box-reset-info > div > p {
    color:$GRAY-2;
}

@media screen and (max-width: 821px){
    .find-article {
        border: none;
        font-size: 16px;
    }
    .find-input-container-text{
        margin-bottom: 10px;
    }
}
