$GRAY-1: rgb(14,15,14);
$GRAY-2: rgb(106,106,106);
$GRAY-3: rgb(129,129,129);
$GRAY-4: rgb(186,186,186);
$GRAY-5: rgb(219,219,219);
$GRAY-6: rgb(242,242,242);

$BROWN: rgb(180,146,110);

$WHITE-BLUE-GREEN: #4DAF9A;
$BLUE-GREEN:#338F6C;
$BLUE-GREEN-2: rgb(91,161,142);
