@import "./colors.scss";


// top.js에 해당하는 css파일
.nav-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: $BLUE-GREEN;
    color: white;
    box-shadow: 0px 1px 0px #E6E6E6;
    height:85px;
    font-family: 'Noto Sans KR', sans-serif;
}
@media screen and (max-width: 768px){
    .nav-top > ul {
        width: 33%;
    }
}


// 왼쪽 햄버거, 다루 버튼
.nav-top-left{
    display:flex;
}
// 햄버거 버튼 없애주기
.nav-top-left > li:first-child{
    display: none;
}
// 다루 홈 글자
.nav-top-left-title{
    font-size: 34px;
    margin-left: 30px;
}
.nav-top-mobile-list{
    display: inline-block;
    width:0px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: aqua;
    transition: all ease 1s;
    &.__on{
        display:inline-block;
        width: 200px;
    }
    &.__off{
        display:inline-block;
        width:0px;
    }
}

// 모바일 탭 버튼 시
.nav-top-mobile-button{
   position: absolute;
   min-width: 100%;
   top:85px;
   transition: all ease 0.5s;
   &.__on{
    height: auto;
    box-shadow: 1px 3px 5px $GRAY-5;
   }
   &.__off{
    height: auto;
    box-shadow:none;
   }
}
.nav-top-mobile-lists{
    width: auto;
    background-color: white;
    color: black;
    text-align: center;
    line-height:44px;
    height: 0px;
    transition: all ease 0.5s;
    font-size: 0px;
    &.__on{
        font-size: 16px;    
        height: 44px;
        border-bottom: 1px solid $GRAY-4; 
    }
    &.__off{
        opacity: 0;
        height: 0px;
        border-bottom: 0px; 
    }
}
.nav-top-mobile-fonts{
    transition: all ease 0.5s;
    &.__on{
        width:auto;
        height:auto;
        overflow:auto;
    }
    &.__off{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        clip-path: polygon(0 0, 0 0, 0 0);
    }
}


// 반응형 햄버거 버튼(모바일)
@media screen and (max-width: 768px){
    .nav-top-left > li:first-child{
        display: flex;
        width: 30px;
        height: 30px;
        background-image: url(../imgs/tab_list.svg);
        background-repeat: no-repeat;
        background-position: center;
        transition: all ease 0.5s;
        margin-left: 30px;
    }
    .nav-top-left > li:first-child:active{
        transform: rotate( -180deg );
    }

    .nav-top-left > li:last-child{
        display: none;
    }
}


// 가운데 매장현황 네비버튼들
.nav-top-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-top-center > li {
    font-weight: 500px;
    margin: 0px 25px;
}
.nav-top-center > .nav-top-left-title {
    display:none;
}

// 반응형 
@media screen and (max-width: 768px){
    .nav-top-center > li:first-child {
        display: none;
    }
    .nav-top-center > li:nth-child(2){
        display: none;
    }
    .nav-top-center > .nav-top-left-title {
        display:block;
    }
}


// 오른쪽 유저 버튼들
.nav-top-right{
    display:flex;
    flex-direction: row-reverse;
    align-items:flex-end;
}
// lock 이미지 속성
.nav-top-right > li{
    width: 30px;
    height: 30px;
    &:first-child{
        margin-right: 10px;
        background: url(../imgs/tab_join.svg) no-repeat; 
        background-position: center;
    }
    &:last-child{
        margin-right: 10px;
        background: url(../imgs/tab_login.svg) no-repeat;
        background-position: center;
    }
}
